In [1]:
from src.run.read_database import read_database

path = "data/scrap_die_borke.db"
df = read_database(path)

In [2]:
df

,id,lastupdate,temp,wind,boen,niederschlag,feuchte,luftdruck
0,1,2020-09-16 17:22:22,27.6,8.7,14.8,0.0,41.0,1015.4
1,2,2020-09-16 17:23:21,27.6,8.7,14.8,0.0,41.0,1015.4
2,3,2020-09-16 17:23:21,27.6,8.7,14.8,0.0,41.0,1015.4
3,4,2020-09-16 17:24:21,27.6,7.8,14.8,0.0,41.0,1015.4
4,5,2020-09-16 17:24:21,27.6,7.8,14.8,0.0,41.0,1015.4
...,...,...,...,...,...,...,...,...
109,110,2020-09-16 19:36:21,24.8,1.7,7.0,0.0,56.0,1015.7
110,111,2020-09-16 19:36:21,24.8,1.7,7.0,0.0,56.0,1015.7
111,112,2020-09-16 19:37:21,24.8,1.7,7.0,0.0,56.0,1015.7
112,113,2020-09-16 19:37:21,24.8,1.7,7.0,0.0,56.0,1015.7
113,114,2020-09-16 19:38:21,24.8,1.7,7.0,0.0,56.0,1015.7